<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Event Garden-Delete User</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="../static/assets/image.png" type="image/png">
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            {%if is_admin%}
                <li><a href="/admin">Admin Dashboard</a></li>
            {%endif %}
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact Us</a></li>
            <li><a href="/create-event">Create Event</a></li>
            <li><a href="/events">All events</a></li>
            <li><a href="/my-bookings">Booked Tickets</a></li>
            <li><a href="/make-appointment">Appointments</a></li>
            <li><a href="/messages">N</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
    <nav class="navbar-2">
        <ul>
            <li><a href="/admin/halls">Manage Halls</a></li>
            <li><a href="/admin/events">Manage Events</a></li>
            <li><a href="/admin/users">Manage Users</a></li>
            <li><a href="/admin/tickets">Manage Tickets</a></li>
            <li><a href="/admin/appointments">Manage Appointments</a></li>
            <li><a href="/admin/messages">Manage Notifications</a></li>
        </ul>
    </nav>
    <div class="container">
    <h1>Delete User</h1>
    <!-- Flash Messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div>
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}
    <p>Are you sure you want to delete the following user?</p>
    <ul>
        <li>ID: {{ user.id }}</li>
        <li>Username: {{ user.username }}</li>
        <li>Name: {{ user.name }}</li>
        <li>Email: {{ user.email }}</li>
        <li>City: {{ user.city }}</li>
        <li>State: {{ user.state }}</li>
    </ul>
    <form method="POST">
        <button type="submit">Confirm Delete</button>
        <a href="{{ url_for('manage_users') }}">Cancel</a>
    </form>
</div>
</body>
</html>
