<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="../static/assets/image.png" type="image/png">
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            {%if is_admin%}
                <li><a href="/admin">Admin Dashboard</a></li>
            {%endif %}
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact Us</a></li>
            <li><a href="/create-event">Create Event</a></li>
            <li><a href="/events">All events</a></li>
            <li><a href="/my-bookings">Booked Tickets</a></li>
            <li><a href="/make-appointment">Appointments</a></li>
            <li><a href="/messages">N</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
    <nav class="navbar-2">
        <ul>
            <li><a href="/admin/halls">Manage Halls</a></li>
            <li><a href="/admin/events">Manage Events</a></li>
            <li><a href="/admin/users">Manage Users</a></li>
            <li><a href="/admin/tickets">Manage Tickets</a></li>
            <li><a href="/admin/appointments">Manage Appointments</a></li>
            <li><a href="/admin/messages">Manage Notifications</a></li>
        </ul>
    </nav>
    <div class="container">
    <h1>Edit User</h1>
    <!-- Flash Messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div>
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}
    <form method="POST">
        <label>Username:</label>
        <input type="text" name="username" value="{{ user.username }}" required><br>
        <label>Name:</label>
        <input type="text" name="name" value="{{ user.name }}" required><br>
        <label>Phone Number:</label>
        <input type="text" name="phone_number" value="{{ user.phone_number }}" required><br>
        <label>Date of Birth:</label>
        <input type="date" name="dob" value="{{ user.dob }}" required><br>
        <label>Email:</label>
        <input type="email" name="email" value="{{ user.email }}" required><br>
        <label>City:</label>
        <input type="text" name="city" value="{{ user.city }}" required><br>
        <label>State:</label>
        <input type="text" name="state" value="{{ user.state }}" required><br>
        <label>Admin:</label>
        <input type="checkbox" name="is_admin" {% if user.is_admin %}checked{% endif %}><br>
        <button type="submit">Update</button>
    </form>
</div>
</body>
</html>
