<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Event Garden-My Bookings</title>
    <link rel="icon" href="../static/assets/image.png" type="image/png">
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            {%if is_admin%}
                <li><a href="/admin">Admin Dashboard</a></li>
            {%endif %}
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact Us</a></li>
            <li><a href="/create-event">Create Event</a></li>
            <li><a href="/events">All events</a></li>
            <li><a href="/my-bookings">Booked Tickets</a></li>
            <li><a href="/make-appointment">Appointments</a></li>
            <li><a href="/messages">N</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
    <div class="container">
        <h1>My Bookings</h1>
        <!-- Flash Messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div>
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        <table>
            <thead>
                <tr>
                    <th>Event Name</th>
                    <th>Location</th>
                    <th>Start Date & Time</th>
                    <th>End Date & Time</th>
                    <th>Booking Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for ticket in tickets %}
                    <tr>
                        <td>{{ ticket.event.college_name }}</td>
                        <td>{{ ticket.event.location }}</td>
                        <td>{{ ticket.event.start_datetime.strftime('%Y-%m-%d %H:%M') }}</td>
                        <td>{{ ticket.event.end_datetime.strftime('%Y-%m-%d %H:%M') }}</td>
                        <td>{{ ticket.booking_date.strftime('%Y-%m-%d %H:%M') }}</td>
                        <td>
                            <form action="{{ url_for('cancel_booking_user', ticket_id=ticket.id) }}" method="POST" style="display: inline;">
                                <button type="submit" onclick="return confirm('Are you sure?')">Delete</button>
                            </form>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">No tickets booked yet.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
